<div class="swiper-container">
	<div class="swiper-wrapper">
		<!-- {{ each carousrs }} -->
		<!-- <div class="swiper-slide"><img src="{{ $value.pictureurl }}" alt="" /></div> -->
		<!-- {{ /each }} -->
		<div class="swiper-slide"><img src="../../public/images/wallhaven-q2zpeq_1920x1080.png" alt="" /></div>
		<div class="swiper-slide"><img src="../../public/images/wallhaven-1kpo11_1920x1080.png" alt="" /></div>
		<div class="swiper-slide"><img src="../../public/images/wallhaven-e788z8_1920x1080.png" alt="" /></div>
	</div>
	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>